<div class="container">
    <div class="contenedorform col-md-9">
       <form class="formRegistro">
           <div class="form-row">
             <div class="col-md-12">
               <h3 class="popSemibold size30 titleform">Crea tu cuenta como comprador</h3>
             </div>
             <div class="col-md-4"> 
               <label></label>
               <input type="email" class="popRegular size16 inputFinsu form-control" id="inputEmail4" placeholder="Nombre">
             </div>
             <div class="col-md-4">
                 <label></label>
               <input type="text" class="popRegular size16 inputFinsu form-control" id="inputPassword4" placeholder="Apellido">
             </div>
             <div class="col-md-4">
                 <label></label>
                 <input type="text" class="popRegular size16 inputFinsu form-control" id="inputPassword4" placeholder="Email">
               </div>
           </div>
           <div class="form-row">
               <div class="col-md-4"> 
                 <label></label>
                 <input type="email" class="popRegular size16 inputFinsu form-control" id="inputEmail4" placeholder="Celular">
               </div>
               <div class="col-md-4">
                   <label></label>
                 <input type="text" class="popRegular size16 inputFinsu form-control" id="inputPassword4" placeholder="Tipo persona">
               </div>
               <div class="col-md-4">
                   <label></label>
                   <input type="text" class="popRegular size16 inputFinsu form-control" id="inputPassword4" placeholder="Razon social (si aplica)">
                 </div>
             </div>
             <div class="form-row">
                 <div class="col-md-6"> 
                   <label></label>
                   <input type="email" class="popRegular size16 inputFinsu form-control" id="inputEmail4" placeholder="Tipo documento">
                 </div>
                 <div class="col-md-6">
                     <label></label>
                   <input type="text" class="popRegular size16 inputFinsu form-control" id="inputPassword4" placeholder="No. de documento">
                 </div>
               </div>
               <div class="form-row">
                   <div class="col-md-6"> 
                     <label></label>
                     <input type="email" class="popRegular size16 inputFinsu form-control" id="inputEmail4" placeholder="Contraseña">
                   </div>
                   <div class="col-md-6 ">
                       <label></label>
                     <input type="text" class="popRegular size16 inputFinsu form-control" id="inputPassword4" placeholder="Repetir contraseña">
                   </div>
                 </div>  
                  <div class="btnformcomprador">
                    <div></div>
                    <div class="btniniciar">
                           <button type="submit" class="popRegular size16 paddingBtn botonregistrar">Registrarme</button>
                    </div>
                    <div></div>
                    <div></div>
                    <div class="btncancelar">
                          <button type="submit" class="popRegular size16 paddingBtn botoniniciar">Iniciar Sesión</button>
                    </div>
                  </div>                    
                 <!-- <div class=" col-xs-6 col-sm-6 btnformcomprador">
                     <div class=" col-xs-6  col-sm-6 btniniciar">
                         <button type="submit" class="btn btn-primary  botonregistrar">Registrarme</button>
                       </div>
                       <div class=" col-xs-6  col-sm-6 btncancelar">
                        <button type="submit" class="btn btn-primary  botoniniciar">Iniciar Sesión</button>
                      </div>
                 </div> -->
                
                                
         </form>
    </div>
  </div>

