<div id="indice">
	<div id="general">
		<div class="tituloIndice">
			General
		</div>
		<div class="btnIndice">
            <button routerLink="/home" class="btnFinsuBlue">home</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/faq" class="btnFinsuBlue">faq</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/comprador" class="btnFinsuBlue">Home comprador</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/inversionista" class="btnFinsuBlue">Home inversionista</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/bienvenido" class="btnFinsuBlue">Bienvenido</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/login" class="btnFinsuBlue">Login</button>
		</div>
	</div>
	<div id="comprador">
		<div class="tituloIndice">
			Comprador
		</div>
		<div class="btnIndice">
            <button routerLink="/comprador/registroComprador" class="btnFinsuBlue">Registro comprador</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/comprador/resumen" class="btnFinsuBlue">Resumen</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/comprador/perfil" class="btnFinsuBlue">perfil</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/comprador/financiaciones" class="btnFinsuBlue">financiaciones</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/comprador/verMas" class="btnFinsuBlue">ver mas</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/comprador/simular" class="btnFinsuBlue">simular</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/comprador/plan" class="btnFinsuBlue">plan</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/comprador/pagare" class="btnFinsuBlue">pagare</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/comprador/pago" class="btnFinsuBlue">pago</button>
		</div>
	</div>
	<div id="inversionista">
		<div class="tituloIndice">
			Inversionista
		</div>
		<div class="btnIndice">
            <button routerLink="/inversionista/registroInversionista" class="btnFinsuBlue">Registro inversionista</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/inversionista/resumen" class="btnFinsuBlue">resumen</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/inversionista/perfil" class="btnFinsuBlue">perfil</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/inversionista/inversiones" class="btnFinsuBlue">inversiones</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/inversionista/verMas" class="btnFinsuBlue">ver mas</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/inversionista/cuentabancaria" class="btnFinsuBlue">cuenta bancaria</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/inversionista/simular" class="btnFinsuBlue">simular</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/inversionista/plan" class="btnFinsuBlue">plan</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/inversionista/aprobar" class="btnFinsuBlue">aprobar</button>
		</div>


		<div class="btnIndice">
		            <button routerLink="/inversionista/pago" class="btnFinsuBlue">pago</button>
		</div>
	</div>
</div>
