<div class="bannerHome">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<h1 class="tituloBannerHome">
						<b>Asegura tu vehículo</b>
					</h1>
					<h3 class="textoBannerHome">
						Lorem ipsum dolor sit amet, consectetur adipisi cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</h3>
					<div class="col-6 col-xs-6">
						<button class="botonCompradorHome">Comprador</button>
					</div>
					<div class="col-6 col-xs-6">
						<button class="botonInversionistaHome">Inversionista</button>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<img id="autoAzul" src="assets/img/m1-img1-car.png">
				</div>
			</div>
		</div>
</div>
<app-footer></app-footer>