<!-- BANNER HOME -->
<div class="bannerHome">
	<img id="autoAzul" src="assets/img/m1-img1-car.png">
		<div class="containerBanner" id="containerBannerH">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 contenidofinanciar">
					<h1 class="tituloBannerHome">
						<b>financia tu seguro</b>
					</h1>
					<h3 class="textoBannerHome">
						Lorem ipsum dolor sit amet, consectetur adipisi cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</h3>
					<div class="col-12 col-xs-12" id="bottonesBannerHome">
						<button class="botonCompradorHome" routerLink="/comprador"> Soy Comprador</button>
						<button class="botonInversionistaHome" routerLink="/inversionista"> Soy Inversionista</button>
					</div>				
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="paddingHome">					
				</div>
			</div>
		</div>
</div>

<div class="sectionIn">
		<!-- CARACTERISTICAS -->
	<div class="fiveIcons">
		<div class="margin"></div>
		<div class="iconGrid">
			<div class="iconCol">
				
			</div>
		</div>
		<div class="margin"></div>
	</div>
	<div class="caracteristicasHome">		
			<div class="container" id="contCaracHome">			
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="aliadosTit">
						<b class="aliadosTitulo">Características</b>
					</div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="allCaracHome">	
						<div class="col-1 col-sm-1 col-md-1 col-lg-1" id="caracEmpty"></div>
						<div class="col-10 col-sm-5 col-md-3 col-lg-2" id="iconsCaracHome">
							<div class="col-12 col-sm-12 col-md-12 col-lg-12">
								<img src="../../assets/iconos/icono-digital.png" id="imgCarac">
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="titCarac">
								Digital
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="textCarac">
								Lorem ipsum dolor sit amet owlo
							</div>
						</div>		
						<div class="col-10 col-sm-5 col-md-3 col-lg-2" id="iconsCaracHome">
							<div class="col-12 col-sm-12 col-md-12 col-lg-12">
								<img src="../../assets/iconos/icono-facil.png" id="imgCarac">
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="titCarac">
								Rápido y fácil
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="textCarac">
								Lorem ipsum dolor sit amet owlo
							</div>
						</div>
						<div class="col-10 col-sm-5 col-md-3 col-lg-2" id="iconsCaracHome">
							<div class="col-12 col-sm-12 col-md-12 col-lg-12">
								<img src="../../assets/iconos/icono-facilidad-pago.png" id="imgCarac">
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="titCarac">
								Facilidad de pago
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="textCarac">
								Lorem ipsum dolor sit amet owlo
							</div>
						</div>
						<div class="col-10 col-sm-5 col-md-3 col-lg-2" id="iconsCaracHome">
							<div class="col-12 col-sm-12 col-md-12 col-lg-12">
								<img src="../../assets/iconos/icono-bajo-riesgo.png" id="imgCarac">
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="titCarac">
								Inversión de bajo riesgo
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="textCarac">
								Lorem ipsum dolor sit amet owlo
							</div>
						</div>
						<div class="col-10 col-sm-5 col-md-3 col-lg-2" id="iconsCaracHome">
							<div class="col-12 col-sm-12 col-md-12 col-lg-12">
								<img src="../../assets/iconos/icono-mejor-retorno.png" id="imgCarac">
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="titCarac">
								Mejor retorno
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="textCarac">
								Lorem ipsum dolor sit amet owlo
							</div>
						</div>
						<div class="col-1 col-sm-1 col-md-1 col-lg-1" id="caracEmpty"></div>
					</div>
				</div>
			</div>
		</div>
	<!-- COMO LO HACEMOS -->
	<div class="comoLoHacemosHome">
			<div class="container" id="containerComo">
				<div class="row" style="width:100vw;">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="tituloComoLoHacemosHome">
						¿Cómo lo hacemos?
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" id="sectionComo">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<img id="iconosComo" src="../../assets/iconos/icono-1.png">
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="sectComo">
								<img id="figuraComo" src="../../assets/img/figura11.png">
								<div class="textoComoLo">
									<b class="subtitComoLo">Pagaré</b><br>
									Lorem ipsum dolor sit amet, consectetur adipisi cingelit em ipsum dolor sit amet, consectetur adipisi cingelit Lorem ipsum dolor sit amet, consectetur adipisi cingelit em ipsum dolor sit amet, consectetur
								</div>
							</div>						
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" id="sectionComo">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<img id="iconosComo" src="../../assets/iconos/icono-2.png">
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="sectComo">
								<img id="figuraComo" src="../../assets/img/figura22.png">
								<div class="textoComoLo">
									<b class="subtitComoLo">Pago de cuota inicial</b><br>
									Lorem ipsum dolor sit amet, consectetur adipisi cingelit em ipsum dolor sit amet, consectetur adipisi cingelit Lorem ipsum dolor sit amet, consectetur adipisi cingelit em ipsum dolor sit amet, consectetur
								</div>
							</div>						
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" id="sectionComo">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<img id="iconosComo" src="../../assets/iconos/icono-3.png">
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="sectComo">
								<img id="figuraComo" src="../../assets/img/figura33.png">
								<div class="textoComoLo">
									<b class="subtitComoLo">Inversionista paga el resto</b><br>
									Lorem ipsum dolor sit amet, consectetur adipisi cingelit em ipsum dolor sit amet, consectetur adipisi cingelit Lorem ipsum dolor sit amet, consectetur adipisi cingelit em ipsum dolor sit amet, consectetur
								</div>
							</div>						
						</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="contComoLo">				
															
					</div>				
				</div>
			</div>
	</div>
	<!-- EXPLICACION ROLES -->

	<div class="celdauno griduno">
		<div class="gridseccion celda">
			<div class="celda">
					<img class="imgsectionuna" src="assets/img/foto-1.png" alt="">
			</div>
			<div class="celda">
				<div class="celda">
					<h4 class="tituloseccion">Invertir es</h4>
				</div>
				<div class="celda">
					<p class="parrafo">
					   lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
					   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
					   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
					   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
					   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
					   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
					</p>
					<p class="parrafo">
					   lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
					   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
					   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
					   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
					   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
					   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
					</p>
				</div>
				<div class="botoninvetir celda">
						<button type="submit" class="popRegular btninvertir">Quiero invertir</button>
				</div>
			</div>
		</div>
		<div class="gridsecciondos celda">
			<div class="celda">
				<div class="celda">
					<h4 class="titulosecciondos">Financiar es</h4>
				</div>
				<div class="txtsectiondos celda">
					<p class="parrafo">
						lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
						 
					</p>
					<p class="parrafo">
							lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							 
						</p>
				</div>
				<div class=" botonfinanciar celda">
						<button type="submit" class="popRegular btnfinanciar">Quiero Financiar</button>
				</div>
			</div>
			<div class="celda">
				<img class="imgsectiondos" src="assets/img/foto-2.png">
			</div>
		</div>

	</div>

	
    <!-- ALIADOS -->
    <div class="caracteristicasHome">		
		<div class="container" id="contCaracHome">			
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="aliadosTit">
					<b class="aliadosTitulo">Aliados</b>
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="allCaracHome">	
					<div class="col-1 col-sm-1 col-md-1 col-lg-1" id="caracEmpty"></div>
					<div class="col-10 col-sm-5 col-md-3 col-lg-2" id="iconsCaracHome">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<img src="../../assets/iconos/aliado-1.png" id="imgCarac">
						</div>						
					</div>
					<div class="col-10 col-sm-5 col-md-3 col-lg-2" id="iconsCaracHome">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<img src="../../assets/iconos/aliado-2.png" id="imgCarac">
						</div>						
					</div>
					<div class="col-10 col-sm-5 col-md-3 col-lg-2" id="iconsCaracHome">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<img src="../../assets/iconos/aliado-5.png" id="imgCarac">
						</div>						
					</div>
					<div class="col-10 col-sm-5 col-md-3 col-lg-2" id="iconsCaracHome">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<img src="../../assets/iconos/aliado-3.png" id="imgCarac">
						</div>						
					</div>
					<div class="col-10 col-sm-5 col-md-3 col-lg-2" id="iconsCaracHome">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<img src="../../assets/iconos/aliado-4.png" id="imgCarac">
						</div>	
					</div>
					<div class="col-1 col-sm-1 col-md-1 col-lg-1" id="caracEmpty"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>