<!-- BANNER HOME -->
<div class="bannerHome">
	<img id="autoAzul" src="assets/img/m1-img1-car.png">
	<div class="container" id="containerBannerH">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 contenidofinanciar">
				<h1 class="tituloBannerHome">
					<b>Financia tu seguro</b>
				</h1>
				<h3 class="textoBannerHome">
					Con Finsu puedes pagar tu seguro a cuotas mensuales con una baja tasa de interés y hacerlo
					rápidamente de forma digital. Te conectamos con inversionistas que están dispuestos a financiar el
					pago de tu seguro.
				</h3>
				<div class="col-12 col-xs-12" id="bottonesBannerHome">
					<button class="botonCompradorHome" routerLink="/comprador"> Quiero financiar</button>
					<button class="botonInversionistaHome" routerLink="/inversionista"> Quiero invertir</button>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="paddingHome">
			</div>
		</div>
	</div>
</div>

<div class="sectionIn">
	<!-- CARACTERISTICAS -->
	<div class="caracteristicasHome">
		<div class="container" id="contCaracHome">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="aliadosTit">
					<b class="aliadosTitulo">Características</b>
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="allCaracHome">
					<div class="col-1 col-sm-1 col-md-1 col-lg-1" id="caracEmpty"></div>
					<div class="col-10 col-sm-5 col-md-3 col-lg-2" id="iconsCaracHome">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<img src="../../assets/iconos/icono-digital.png" id="imgCarac">
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="titCarac">
							Digital
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="textCarac">
							Todo el proceso desde tu computador o celular, sin papeleo ni hacer filas.
						</div>
					</div>
					<div class="col-10 col-sm-5 col-md-3 col-lg-2" id="iconsCaracHome">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<img src="../../assets/iconos/icono-facil.png" id="imgCarac">
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="titCarac">
							Rápido y fácil
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="textCarac">
							En minutos y con solo unos cuantos clicks inicias tu financiación.
						</div>
					</div>
					<div class="col-10 col-sm-5 col-md-3 col-lg-2" id="iconsCaracHome">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<img src="../../assets/iconos/icono-facilidad-pago.png" id="imgCarac">
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="titCarac">
							Facilidad de pago
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="textCarac">
							Paga online, a cuotas, con baja tasa de interés.
						</div>
					</div>
					<div class="col-10 col-sm-5 col-md-3 col-lg-2" id="iconsCaracHome">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<img src="../../assets/iconos/icono-bajo-riesgo.png" id="imgCarac">
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="titCarac">
							Inversión de bajo riesgo
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="textCarac">
							En caso de mora en el pago de las cuotas será cancelada la póliza y se devolverá el saldo al inversionista
						</div>
					</div>
					<div class="col-10 col-sm-5 col-md-3 col-lg-2" id="iconsCaracHome">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<img src="../../assets/iconos/icono-mejor-retorno.png" id="imgCarac">
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="titCarac">
							Mejor retorno
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="textCarac">
							Ofrecemos 1% mensual sobre el saldo capital invertido
						</div>
					</div>
					<div class="col-1 col-sm-1 col-md-1 col-lg-1" id="caracEmpty"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- COMO LO HACEMOS -->
	<div class="comoLoHacemosHome">
		<div class="container" id="containerComo">
			<div class="row" style="width:98.6vw;">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="tituloComoLoHacemosHome">
					¿Cómo lo hacemos?
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" id="sectionComo">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<img id="iconosComo" src="../../assets/iconos/icono-1.png">
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="sectComo">
						<img id="figuraComo" src="../../assets/img/figura11.png">
						<div class="textoComoLo">
							<b class="subtitComoLo">Pagaré</b><br>
							Conoce las condiciones de tu financiación y realiza la firma digital de tu pagaré
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" id="sectionComo">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<img id="iconosComo" src="../../assets/iconos/icono-2.png">
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="sectComo">
						<img id="figuraComo" src="../../assets/img/figura22.png">
						<div class="textoComoLo">
							<b class="subtitComoLo">Pago de cuota inicial</b><br>
							Paga mínimo el 10% del valor de tu seguro como cuota inicial
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" id="sectionComo">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<img id="iconosComo" src="../../assets/iconos/icono-3.png">
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="sectComo">
						<img id="figuraComo" src="../../assets/img/figura33.png">
						<div class="textoComoLo">
							<b class="subtitComoLo">Inversionista paga el resto</b><br>
							Con Finsu un inversionista pagará el saldo restante de tu seguro y con esto empiezas a pagar las cuotas mensuales disfrutando tu cobertura.
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="contComoLo">

				</div>
			</div>
		</div>
	</div>
	<!-- EXPLICACION ROLES -->

	<div class="celdauno griduno">
		<div class="gridseccion celda">
			<div class="celda">
				<img class="imgsectionuna" src="assets/img/foto-1.png" alt="">
			</div>
			<div class="celda" style="padding-top: 70px;">
				<div class="celda">
					<h1 class="tituloseccion">Financia tu seguro</h1>
				</div>
				<div class="celda">
					<p class="parrafo">
						Sabemos que no es fácil pagar de contado una póliza de seguros. Por eso Finsu te ofrece una financiación para que pagues a cuotas con una baja tasa de interés y fácilmente a través de internet. Tendrás que pagar una cuota inicial y el resto será asumido por un inversionista al que luego le pagarás cuotas mensuales.
					</p>
					<p class="parrafo">
					</p>
				</div>
				<div class="botoninvetir celda">
					<button type="submit" class="popRegular btninvertir" routerLink="/comprador">Quiero financiar</button>
				</div>
			</div>
		</div>
		<div class="gridsecciondos celda">
			<div class="celda" style="padding-top: 70px;">
				<div class="celda">
					<h1 class="titulosecciondos">Invierte</h1>
				</div>
				<div class="txtsectiondos celda">
					<p class="parrafo">
						Te damos la oportunidad de invertir en pagarés de compradores que desean pagar su póliza de seguros a cuotas. Recibirás 1% mensual de los intereses que paga ese comprador y en caso de que no cumpla con sus pagos Finsu tramitará ante la aseguradora la cancelación de la póliza y se te devolverá el dinero restante de tu inversión.
					</p>
					<p class="parrafo">
					</p>
					<div class="botonfinanciar celda">
						<button type="submit" class="popRegular btnfinanciar" routerLink="/inversionista">Quiero invertir</button>
					</div>
				</div>
			</div>
			<div class="celda">
				<img class="imgsectiondos" src="assets/img/foto-2.png">
			</div>
		</div>

	</div>


	<!-- ALIADOS -->
	<div class="caracteristicasHome">
		<div class="container" id="contCaracHome">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="aliadosTit">
					<b class="aliadosTitulo">Aliados</b>
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="allCaracHome">
					<div class="col-1 col-sm-1 col-md-1 col-lg-1" id="caracEmpty"></div>
					<div class="col-10 col-sm-5 col-md-3 col-lg-2" id="iconsCaracHome">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<img src="../../assets/iconos/aliado-1.png" id="imgCarac">
						</div>
					</div>
					<div class="col-10 col-sm-5 col-md-3 col-lg-2" id="iconsCaracHome">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<img src="../../assets/iconos/aliado-2.png" id="imgCarac">
						</div>
					</div>
					<div class="col-10 col-sm-5 col-md-3 col-lg-2" id="iconsCaracHome">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<img src="../../assets/iconos/aliado-5.png" id="imgCarac">
						</div>
					</div>
					<div class="col-10 col-sm-5 col-md-3 col-lg-2" id="iconsCaracHome">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<img src="../../assets/iconos/aliado-3.png" id="imgCarac">
						</div>
					</div>
					<div class="col-10 col-sm-5 col-md-3 col-lg-2" id="iconsCaracHome">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<img src="../../assets/iconos/aliado-4.png" id="imgCarac">
						</div>
					</div>
					<div class="col-1 col-sm-1 col-md-1 col-lg-1" id="caracEmpty"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>