<div class="sideBarLayout">
	<app-sidebar-inversionista></app-sidebar-inversionista>
	<!-- <ng-content> -->
	<div class="profileContent" id="verInv">
		<div id="financiaciones">
			<div id="grid1">
				<div class="celda"></div>
				<div id="grid2" class="celda">
					<div class="celda titulo">
						Mis inversiones
					</div>
					<div class="celda text">
						Inversión Lorem Ipsum Dolor
					</div>
					<div class="celda">
						<div id="grid3">
							<div class="celda">
								<div id="grid4">
									<div class="celda text1">Próximo ingreso</div>
									<div></div>
									<div class="celda text1">Fecha</div>
									<div class="celda text2">$1.500.000</div>
									<div></div>
									<div class="celda text1">27/01/2019</div>
									<div class="celda text1">Inversión realizada</div>
									<div></div>
									<div></div>
								</div>
							</div>
							<div id="grid5" class="celda">
								<div class="celda text1c">
									Fecha<br>
									27/01/2019
								</div>
								<div class="celda text2c">
									$1.500.000
								</div>
							</div>
						</div>
					</div>
				</div>
				<div></div>
			</div>
		</div>
	</div>
	<!-- </ng-content> -->
</div>
