<footer>
  <div class="footer-area">
    <div class="container foot">
      <div class="row clase">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="footer-content primersection">
            <div class="footer-head">
              <div class="footer-logo">
                <img  id="logoF" src="../../assets/iconos/logo-finsu.png">
              </div>
              <div class="footer-icons">
                <ul>
                  <li>
                    <a  href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a  href="#"><i class="fab fa-twitter-square"></i></a>
                  </li>
                  <li>
                    <a  href="#"><i class="fab fa-facebook"></i></a>
                  </li>
                  <li>
                    <a  href="#"><i class="fas fa-at"></i></a>
                  </li> 
                  <li>
                    <a  href="#"><i class="fab fa-linkedin-in"></i></a>
                    </li>                  
                </ul>
              </div>           
            </div>
          </div>
          <br>
          <div class="footer-p">
            <p>finsu todos los derechos reservados</p>
          </div>
          
        </div>
        <!-- end single footer -->
        <div class="col-md-8 col-sm-8 col-xs-12 inputfooter">
          <div class="footer-content">
            <div class="footer-head sectiondos">
              <p>ingresa tu correo para recibir mas información<p>
                  <form class="form-inline">                            
                    <div class="form-group  mx-sm-15 ">                     
                      <input type="password" class=" form-control inputpassword " id="inputPassword2" placeholder="Correo">
                    </div>
                      <button type="submit" class="btn btn-primary enviar ">Enviar</button>
                  </form>
              <br>
              <p>
                Lorem ipsum dolor sit Danna, consectetur adipiscing elit, sed do eiusmod tempor.
              </p>               
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>