*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.idea/codeStyles/Project.xml
.idea/workspace.xml
.project
.strong-pm
coverage
package-lock.json
node_modules
dist
npm-debug.log
Icon?
# Elastic Beanstalk Files
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.elasticbeanstalk/*
