<div class="celda sideBarPerfil">
	<div class="celda profile">
		<div class="profileImg">
			<img class="profilePic" src="assets/img/perfil.png">
		</div>
		<div class="profileName">
			Sofía Torres
		</div>
	</div>
	<div routerLink="/comprador/resumen" class="celda activeItem menuItem">
		Resumen
	</div>
	<div routerLink="/comprador/resumen" class="celda menuItem">
		Métodos de pago
	</div>
	<div routerLink="/comprador/perfil" class="celda menuItem">
		Perfil
	</div>
	<div routerLink="/comprador/financiaciones" class="celda menuItem">
		Financiaciones
	</div>
</div>