<div class="celda sideBarPerfil">
	<div class="celda profile">
		<div class="profileImg">
			<img class="profilePic" src="assets/img/perfil.png">
		</div>
		<div class="profileName">
			Sofía Torres
		</div>
	</div>
	<div routerLink="/inversionista/resumen" routerLinkActive="activeItem"  class="celda menuItem">
		Resumen
	</div>
	<div class="celda menuItem">
		Métodos de pago
	</div>
	<div routerLink="/inversionista/perfil" routerLinkActive="activeItem" class="celda menuItem">
		Perfil
	</div>
	<div routerLink="/inversionista/inversiones" [ngClass]="{activeItem:isVerMas}" routerLinkActive="activeItem" class="celda menuItem">
		Inversiones
	</div>
	<div routerLink="/inversionista/cuentabancaria" routerLinkActive="activeItem" class="celda menuItem">
		Cuenta Bancaria
	</div>
</div>