<div class="celda sideBarPerfil">
	<div class="celda profile">
		<div class="profileImg">
			<img class="profilePic" src="assets/img/perfil.png">
		</div>
		<div class="profileName">
			Sofía Torres
		</div>
	</div>
	<div routerLink="/inversionista/resumen" class="celda activeItem menuItem">
		Resumen
	</div>
	<div routerLink="/inversionista/resumen" class="celda menuItem">
		Métodos de pago
	</div>
	<div routerLink="/inversionista/perfil" class="celda menuItem">
		Perfil
	</div>
	<div routerLink="/inversionista/inversiones" class="celda menuItem">
		Inversiones
	</div>
	<div routerLink="/inversionista/cuentabancaria" class="celda menuItem">
		Cuenta Bancaria
	</div>
</div>