
<div class="bienvenido">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 vspace">
			</div>
			<!-- TITULO BIENVENIDO -->
			<div class="col-1 col-sm-3 col-md-3 col-lg-4">
			</div>
			<div class="col-10 col-sm-6 col-md-6 col-lg-4">
				<h2 class="tituloBienvenido">
					<b>Bienvenido a Finsu</b>
				</h2>
			</div>
			<div class="col-1 col-sm-3 col-md-3 col-lg-4">
			</div>
			<!-- TEXTO BIENVENIDO -->
			<div class="col-1 col-sm-1 col-md-2 col-lg-2">
			</div>
			<div class="col-10 col-sm-10 col-md-8 col-lg-8 textoContinuar">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quiepakis nostrud exercitation ullamco laboris nsi ut aliquip ex ea comepmodo consetquat. Duis aute irure dolor in reprehenderit in . </p>
			</div>
			<div class="col-1 col-sm-1 col-md-2 col-lg-2">
			</div>
			<!-- BOTONES BIENVENIDO -->
			<div class="col-1 col-sm-2 col-md-4 col-lg-3">
			</div>
			<div class="col-10 col-sm-8 col-md-4 col-lg-6">
				<button class="botonCompradorBienvenido marginBtn">Comprador</button>
				<button class="botonInversionistaBienvenido marginBtn">Inversionista</button>
			</div>
			<div class="col-1 col-sm-2 col-md-4 col-lg-3">
			</div>

		</div>
	</div>
</div>


<div id="gridcontainer">
		<div class="celda">3</div>
		<div id="contenedor">
			   <div  class="celda">
				   <h3 id="titulo">Cuenta Bancaria</h3>
			   </div>
			   <div id="txtcuerpo" class="celda">
				   <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit,  
					  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
					  nisi ut aliquip ex ea commodo consequat nisi ut aliquip ex ea</p>
			   </div>
			<div id="contenedorform">
				<form  class="celda">
					<div class="">
						<select class="seleccion">
							<option selected>Banco</option>
							<option value="1">opcion1</option>
							<option value="2">opcion1</option>
						</select>
					</div>
					<div class="celda">
						   <select class="seleccion">
								   <option selected>Tipo cuenta</option>
								   <option value="1">opcion1</option>
								   <option value="2">opcion1</option>
							</select>
					</div>
					<div class="celda">
						  <input class="textcuenta" placeholder="Número de cuenta"> 
					</div>
					<div  id="btn">
						   <div class="celda">3</div>
						   <div class="celda">
						   <button type="button" class="btn   btn-block btnlisto">Listo</button>
						   </div>
						   <div class="celda"></div>
					   </div>
				</form>
				<div class="celda">         
				</div>   
			</div>
		   
		</div>
		<div class="celda">3</div>
	   </div>

