
<div class="bienvenido">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 vspace">
			</div>
			<!-- TITULO BIENVENIDO -->
			<div class="col-1 col-sm-3 col-md-3 col-lg-4">
			</div>
			<div class="col-10 col-sm-6 col-md-6 col-lg-4">
				<h2 class="tituloBienvenido">
					<b>Bienvenido a Finsu</b>
				</h2>
			</div>
			<div class="col-1 col-sm-3 col-md-3 col-lg-4">
			</div>
			<!-- TEXTO BIENVENIDO -->
			<div class="col-1 col-sm-1 col-md-2 col-lg-2">
			</div>
			<div class="col-10 col-sm-10 col-md-8 col-lg-8 textoContinuar">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quiepakis nostrud exercitation ullamco laboris nsi ut aliquip ex ea comepmodo consetquat. Duis aute irure dolor in reprehenderit in . </p>
			</div>
			<div class="col-1 col-sm-1 col-md-2 col-lg-2">
			</div>
			<!-- BOTONES BIENVENIDO -->
			<div class="col-1 col-sm-2 col-md-4 col-lg-3">
			</div>
			<div class="col-10 col-sm-8 col-md-4 col-lg-6">
				<button class="botonCompradorBienvenido marginBtn">Comprador</button>
				<button class="botonInversionistaBienvenido marginBtn">Inversionista</button>
			</div>
			<div class="col-1 col-sm-2 col-md-4 col-lg-3">
			</div>

		</div>
	</div>
</div>


