
<div class="bienvenido">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 vspace">
			</div>
			<!-- TITULO BIENVENIDO -->
			<div class="col-1 col-sm-3 col-md-3 col-lg-4">
			</div>
			<div class="col-10 col-sm-6 col-md-6 col-lg-4">
				<h2 class="tituloBienvenido">
					<b>Bienvenido a Finsu</b>
				</h2>
			</div>
			<div class="col-1 col-sm-3 col-md-3 col-lg-4">
			</div>
			<!-- TEXTO BIENVENIDO -->
			<div class="col-1 col-sm-1 col-md-2 col-lg-2">
			</div>
			<div class="col-10 col-sm-10 col-md-8 col-lg-8 textoContinuar">
				<p>Ya eres parte de la comunidad Finsu. Si estas adquiriendo un seguro y te gustaría pagarlo a cuotas continúa con tu perfil de comprador. Si tienes un dinero extra buscas un mejor retorno pero con bajo riesgo ingresa como inversionista.  </p>
			</div>
			<div class="col-1 col-sm-1 col-md-2 col-lg-2">
			</div>
			<!-- BOTONES BIENVENIDO -->
			<div class="col-1 col-sm-2 col-md-4 col-lg-3">
			</div>
			<div class="col-10 col-sm-8 col-md-4 col-lg-6">
				<button class="botonCompradorBienvenido marginBtn">Comprador</button>
				<button class="botonInversionistaBienvenido marginBtn">Inversionista</button>
			</div>
			<div class="col-1 col-sm-2 col-md-4 col-lg-3">
			</div>

		</div>
	</div>
</div>


