

<div id="inversiones1">
        <div class="titulo">
            <h2><b>Mis financiaciones</b></h2>
        </div>
        <div class="row2">
            <div class="gridCell1">
                <div class="reference">
                    FEY2432KS<br>
                    27/01/2019
                </div>
                <div class="text">
                    Lorem ipsum dolor sit amet, consectetur adipisi
                </div>
                <div>
                    <button class="botonGrid">Ver más</button>
                </div>
            </div>
            <div class="gridCell2">
                <div class="reference">
                    FEY2432KS<br>
                    27/01/2019
                </div>
                <div class="text">
                    Lorem ipsum dolor sit amet, consectetur adipisi
                </div>
                <div>
                    <button class="botonGrid">Ver más</button>
                </div>
            </div>
            <div class="gridCell3">
                <div class="reference">
                    FEY2432KS<br>
                    27/01/2019
                </div>
                <div class="text">
                    Lorem ipsum dolor sit amet, consectetur adipisi
                </div>
                <div>
                    <button class="botonGrid">Ver más</button>
                </div>
            </div>
            <div class="gridCell2">
                <div class="reference">
                    FEY2432KS<br>
                    27/01/2019
                </div>
                <div class="text">
                    Lorem ipsum dolor sit amet, consectetur adipisi
                </div>
                <div>
                    <button class="botonGrid">Ver más</button>
                </div>
            </div>
            <div class="gridCell3">
                <div class="reference">
                    FEY2432KS<br>
                    27/01/2019
                </div>
                <div class="text">
                    Lorem ipsum dolor sit amet, consectetur adipisi
                </div>
                <div>
                    <button class="botonGrid">Ver más</button>
                </div>
            </div>
            <div class="gridCell1">
                <div class="reference">
                    FEY2432KS<br>
                    27/01/2019
                </div>
                <div class="text">
                    Lorem ipsum dolor sit amet, consectetur adipisi
                </div>
                <div>
                    <button class="botonGrid">Ver más</button>
                </div>
            </div>		
        </div>
    </div>

    