<div id="financiaciones">
	<div id="grid1">
		<div class="celda"></div>
		<div id="grid2" class="celda">
			<div class="celda titulo">
				Mis financiaciones
			</div>
			<div class="celda text1">
				Financiación Lorem Ipsum Dolor
			</div>
			<div class="celda">
				<div id="grid3">
					<div class="celda">
						<div id="grid4">
							<div class="text1">Pendiente por pagar</div>
							<div class="text1">Fecha límite de pago</div>
							<div class="text2">$1.500.000</div>
							<div class="text1">27/01/2019</div>
							<div class="text1">Siguiente cuota</div>
							<div></div>
						</div>
					</div>
					<div id="grid5" class="celda">
						<div class="text1c">
							Fecha límite de pago<br>
							27/01/2019
						</div>
						<div class="text2c">
							$1.500.000
						</div>
					</div>
				</div>
			</div>
		</div>
		<div></div>
	</div>
</div>
