#grid1{
    display: grid;
	grid-template-columns: 6% auto 25%;
	background-color:#F5F5F5;
}

#grid2{
    display: grid;
	grid-template-rows: 83px 50px 302px;
}

#grid3{
    display: grid;
	grid-template-rows: 158px 144px;
	background-color:#FFFFFF;
	border-radius: 39.25px;
}

#grid4{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-left: 33px;
}

#grid5{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 33px;
	margin-right: 51px;
	margin-bottom: 44px;
	background: #FDF2E0;
	border-radius: 39.25px;
}

.text1{
	color: rgb(123, 123, 123);
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	padding-top: 10px;
}

.text2{
	color: rgb(123, 123, 123);
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	font-weight: 600;
	padding-top: 25px;
}

.text1c{
	padding-left: 33px;
	color: black;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
}

.text2c{
	color: black;
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	font-weight: 600;
}

.celda {
	/*border: 2px solid red;*/
}

.titulo{
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
	color: black;
	margin-top: 40px;
	margin-bottom: 40px;
	font-weight: 900;
}