<div class="container">
    <div class="volvCont"><a routerLink="/comprador/plan" class="volv" href="">&#9668; Volver</a></div>
    <div class="head"><b>Pagaré Virtual</b></div>
    <div class="tituloPagareC"><b class="titProFin">Proceso de financiamiento</b></div>
    <div class="condiciones">
        <div class="tit">Condiciones</div><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quiepakis nostrud exercitation ullamco laboris nsi ut aliquip ex ea comepmodo consetquat. Duis aute irure dolor in reprehenderit in voluptate velit esse cfgillum dolore eutpe fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt inpeku culpa qui officia deserunt mollit anim id est laborum.<br>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
    </div>
    <div class="restricciones">
        <div class="tit">Restricciones</div><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quiepakis nostrud exercitation ullamco laboris nsi ut aliquip ex ea comepmodo consetquat. Duis aute irure dolor in reprehenderit in voluptate velit esse cfgillum dolore eutpe fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt inpeku culpa qui officia deserunt mollit anim id est laborum.<br> 
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
    </div>
    <div class="btnVerTermCon">
        <button class="botonVerTerminos">Ver términos y condiciones</button>
    </div>
    <div class="btnAcpTermCon">
        <button routerLink="/comprador/pago" class="botonAcerptarTerminos">Acepto términos y condiciones</button>
    </div>
</div>