<div class="sideBarLayout">
	<app-sidebar-comprador></app-sidebar-comprador>
	<!-- ng-content> -->
	<div class="profileContent" id="resumenComp">
		<div id="financiaciones">
			<div id="grid1">
				<div class="celda"></div>
				<div id="grid2" class="celda">
					<div class="celda titulo">
						resumen
					</div>
					<div class="celda">
						<div id="grid3">
							<div class="celda">
								<div id="grid4">
									<div class="celda text1">Pendiente por pagar</div>
									<div></div>
									<div class="celda text1">Fecha límite de pago</div>
									<div class="celda text2">$1.500.000</div>
									<div></div>
									<div class="celda text1">27/01/2019</div>
									<div class="celda text1">Siguiente cuota</div>
									<div></div>
									<div></div>
								</div>
							</div>
							<div id="grid5" class="celda">
								<div class="celda text1c">
									Fecha límite de pago<br>
									27/01/2019
								</div>
								<div class="celda text2c">
									$1.500.000
								</div>
							</div>
						</div>
					</div>
				</div>
				<div></div>
			</div>
		</div>
		
	</div>
	<!-- /ng-content> -->
</div>
