
<div id="gridpagocuota">
  <div class="celda">1</div> 
	<div id="contenedorpago">3
		<div class="celda">titulo</div>	
		<div class="celda" id="primeraseccion">
			<div class="celda">
				<div class="celda">1</div>
				<div class="celda" id="metodo">
					<div class="celda">1</div>
					<div class="celda">2</div>
					<div class="celda">3</div>
				</div>
			</div>
			<div class="celda">
				<div class="celda">titulo</div>
				<div class="celda" id="metodo">
					
				</div>
			</div>
			<div class="celda">3</div>
		</div>   
	</div> 
	

  <div class="celda">3</div>

</div>

<div class="container">
		<div class="pago">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="tituloPago"><b>Pago por la oportunidad</b></div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="cardss">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="margConfParg">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="confirmarPagar">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="conf">Confirmar y pagar</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<label class="radioContainer">
								<input type="radio">****3232
								<span class="circle"></span>							
							</label>
							<img src="../../assets/iconos/mastercard.png" class="MpagoIcon">
						</div>						
					</div>
				</div>				
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="pagoPor">
					<div class="titPa"><b>Pago por la oportunidad</b></div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="noPad">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="noPad">
							<div id="tx">Subtotal</div>
							<div id="tx">Impuestos</div>
							<div><b>Total</b></div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="valssCont">
							<div class="vals" id="tx">$ 1.440.000</div>
							<div class="vals" id="tx">$ 273.600</div>
							<div class="vals">$ 1.793.600</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="contBtns">				
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="btns">
					<button id="btnAgregarMb">Agregar un método de pago</button>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<button id="btnPagarrb" (click)="openLg(content)">Pagar</button>
				</div>				
			</div>
		</div>		
	</div>



<ng-template #content let-modal>
  <div class="modal-body">
    <div id="grid1" class="celda">
	    <div id="grid2" class="celda">
	        <div class="divi gcol4">
	        	<h1 class="popSemibold size20">Agrega un método de pago</h1>
	        </div>
	        
	        <div class="divi"></div>
	        <div (click)="modal.dismiss('Cross click')" id="cerrarBtn" class="popRegular divi">X Cerrar</div>
	        <div class="divi">
	        	<img class="iconCard" src="assets/iconos/mastercard.png">
	        </div>
	        <div class="divi">
	        	<img class="iconCard" src="assets/iconos/visa.png">
	        </div>
	        <div class="divi gcol4"></div>
	        <div class="divi gcol3">
	        	<input placeholder="Nombre" type="text" [(ngModel)]="nombreTarjeta" class="inputModal inputFinsu">
	        </div>
	       
	        <div class="divi gcol3">
	        	<input placeholder="Apellido" type="text" [(ngModel)]="apellidoTarjeta" class="inputModal inputFinsu">
	        </div>
	        
	    </div>
	    <hr class="lineModal">
	    <div id="grid3" class="celda">
	        <div class="labelFacturacion divi popRegular size16">
	        	Información de la tarjeta
	    	</div>
	        <div class="divi"></div>
	        <div class="divi">
	        	<input placeholder="Número de la tarjeta" type="text" [(ngModel)]="numeroTarjeta" class="inputModal inputFinsu">
	        </div>
	        <div class="divi"></div>
	        <div class="divi">
	        	<input placeholder="Fecha de vencimiento" type="text" [(ngModel)]="fechaTarjeta" class="inputModal inputFinsu">
	        </div>
	        <div class="divi">
	        	<input placeholder="CVV" type="text" [(ngModel)]="cvvTarjeta" class="inputModal inputFinsu">
	        </div>
	    </div>
	    <hr class="lineModal">
	    <div id="grid4" class="celda">
	        <div class="labelFacturacion divi popRegular size16">Información de facturación</div>
	        <div class="labelFacturacion divi popRegular size16">País de facturación</div>
	        <div class="divi">
	        	<input placeholder="Código postal" type="text" [(ngModel)]="infoFacturacion" class="inputModal inputFinsu">
	        </div>
	        <div class="divi">
	        	<div class="inputModal selectContainer relative">
            		<mat-icon class="selectIcon">keyboard_arrow_down</mat-icon>
                	<select class="inputFinsu">
				       <option selected>Colombia</option>
				       <option value="1">Argentina</option>
				       <option value="2">Ecuador</option>
				    </select>
		        </div>
	        </div>
	        <div class="divi gcol2">
	        	<button id="botonPagar" class="btnFinsuBlue">Pagar</button>
	        </div>
	        
	    </div>
	</div>
  </div>
</ng-template>
