
#gridpagocuota{
	display: grid;
	grid-template-columns: 5fr 60fr 15fr;
	grid-gap: 10px;
	margin-top: 5vh;
}
#contenedorpago{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;

}
#primeraseccion {
	display: grid;
	grid-template-columns: 10fr 3fr 10fr;
	grid-gap: 2px;
	margin-top: 5vh;
}
#seccionpagar {
	background-color: #ffffff;
	border-radius: 20px;
}
#metodo {
	display: grid;
	grid-template-columns: 2fr 5fr 2fr;
	padding-top: 6px;
}
#metododos{
	display: grid;
	grid-template-columns: 7fr 5fr;
	padding-top: 22px;
}
#metodotres {
	display: grid;
	grid-template-columns: 7fr 5fr;
}
#metodocuatro {
	display: grid;
	grid-template-columns: 7fr 5fr;
}
#botones {
	display: grid;
	grid-template-columns: 3fr 8fr 8fr 3fr;
	grid-gap: 8px;
	margin-top: 70px;
}
#tituloinicial{
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 3px;
}
#titulometodo{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	padding-left: 5px;
	padding: 5px;
}
#tituloconfirmar{
	padding-top: 23px;
	padding-left: 32px;
}

#titulometododos{
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: #3A4249;
}
#textos {
	font-family: 'Poppins', sans-serif;
	color: #A8A8A8;
	padding-top: 2px;
}
#txttotal{
	font-family: 'Poppins', sans-serif;
	color: #3A4249;
}
#txtpagar {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #7B7B7B;
	padding-top: 6px;
}
#iconmaster {
	height: 37px;
}
.btnmetodopago{
	border-radius: 39.25px;
	font-size: 16px;
    background-color:#000000;
    color: white;
	border-width: 0;
    width: -webkit-fill-available;
    font-family: 'Poppins', sans-serif;
	font-weight: 400;
	padding: 8px;
}
.line {
	margin-right: 33px;
}
.btnpagar{
	border-radius: 39.25px;
	font-size: 16px;
    background-color:#415CE5;
    color: white;
	border-width: 0;
    width: -webkit-fill-available;
    font-family: 'Poppins', sans-serif;
	font-weight: 400;
	padding: 8px;
}

.radio {
	border: solid #000000;
	width: 25px;
	height: 25px;
	background-color: #000000;
	margin-top: 5px;
	margin-left: 32px;
}











