<div class="container">
		<div class="pago">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="tituloPago"><b>Pago por la oportunidad</b></div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="cardss">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="margConfParg">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="confirmarPagar">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="conf">Confirmar y pagar</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<label class="radioContainer">
								<input type="radio">****3232
								<span class="circle"></span>							
							</label>
							<img src="../../assets/iconos/mastercard.png" class="MpagoIcon">
						</div>						
					</div>
				</div>				
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="pagoPor">
					<div class="titPa"><b>Pago por la oportunidad</b></div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="noPad">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="noPad">
							<div id="tx">Subtotal</div>
							<div id="tx">Impuestos</div>
							<div><b>Total</b></div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="valssCont">
							<div class="vals" id="tx">$ 1.440.000</div>
							<div class="vals" id="tx">$ 273.600</div>
							<div class="vals">$ 1.793.600</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="contBtns">				
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="btns">
					<button id="btnAgregarMb">Agregar un método de pago</button>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<button id="btnPagarrb">Pagar</button>
				</div>				
			</div>
		</div>		
	</div>
