<div class="contenedortable ">
    <div class="container">
     <div class="row ">
        <div class="col-12">
          <h5 class="titulotabla popSemibold size30">Plan de pagos</h5>
        </div>
        <div class="col-1"></div>
       <div class=" col-10 tablecontenidodos"> 
          <div class="headTableComp">
            <div class="" id="h5texto">
              <h5 class="subtitulo popRegular size16">Monto de la Inversíon</h5>
            </div>
            <div class="" id="h5texto">
               <h5 class="subtitulo popRegular size16"></h5>
            </div>
            <div class="valortable">
              <label class="popSemibold size35 valor"> $ 1.500.000</label>
            </div>
            <div class="valortable">
               <label class="popSemibold size35 valor"></label>
            </div>
          </div> 
          <div class="col-md-12 tableposicion">
              <table class="table tableprimera">
                  <thead>
                    <tr class="popSemibold size16">
                      <th class="col1" scope="col">Mes</th>
                      <th class="col2" scope="col">Intereses</th>
                      <th class="col3" scope="col">Rentabilidad</th>
                      <th class="col4" scope="col">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Diciembre</th>
                      <td>$ 30.000 COP</td>
                      <td>$ 280.000 COP</td>
                      <td>$ 280.000 COP</td>
                    </tr>
                    <tr>
                      <th scope="row">Enero</th>
                      <td>$ 30.000 COP</td>
                      <td>$ 280.000 COP</td>
                      <td>$ 280.000 COP</td>
                    </tr>
                    <tr>
                      <th scope="row">Febrero</th>
                      <td>$ 30.000 COP</td>
                      <td>$ 280.000 COP</td>
                      <td>$ 280.000 COP</td>
                    </tr>
                    <tr>
                        <th scope="row">Marzo</th>
                        <td>$ 30.000 COP</td>
                        <td>$ 280.000 COP</td>
                        <td>$ 280.000 COP</td>
                      </tr>
                      <tr>
                          <th scope="row">Abril</th>
                          <td>$ 30.000 COP</td>
                          <td>$ 280.000 COP</td>
                          <td>$ 280.000 COP</td>
                        </tr>
                  </tbody>
                </table>        
           </div>
        </div> 
        
     </div>
   </div>
   </div>
    
      




 





            
