<div class="container">
    <div class="contenedorform col-md-9">
       <form>
           <div class="form-row">
             <div class="col-md-12">
               <h3 class="titleform">Crea tu cuenta como inversionista</h3>
             </div>
             <div class="col-md-4"> 
               <label></label>
               <input type="email" class="form-control" id="inputEmail4" placeholder="Nombre">
             </div>
             <div class="col-md-4">
                 <label></label>
               <input type="password" class="form-control" id="inputPassword4" placeholder="Apellido">
             </div>
             <div class="col-md-4">
                 <label></label>
                 <input type="password" class="form-control" id="inputPassword4" placeholder="Email">
               </div>
           </div>
           <div class="form-row">
               <div class="col-md-4"> 
                 <label></label>
                 <input type="email" class="form-control" id="inputEmail4" placeholder="Celular">
               </div>
               <div class="col-md-4">
                   <label></label>
                 <input type="password" class="form-control" id="inputPassword4" placeholder="Tipo persona">
               </div>
               <div class="col-md-4">
                   <label></label>
                   <input type="password" class="form-control" id="inputPassword4" placeholder="Razon social (si aplica)">
                 </div>
             </div>
             <div class="form-row">
                 <div class="col-md-6"> 
                   <label></label>
                   <input type="email" class="form-control" id="inputEmail4" placeholder="Tipo documento">
                 </div>
                 <div class="col-md-6">
                     <label></label>
                   <input type="password" class="form-control" id="inputPassword4" placeholder="No. de documento">
                 </div>
               </div>
               <div class="form-row">
                   <div class="col-md-6"> 
                     <label></label>
                     <input type="email" class="form-control" id="inputEmail4" placeholder="Contraseña">
                   </div>
                   <div class="col-md-6 ">
                       <label></label>
                     <input type="password" class="form-control" id="inputPassword4" placeholder="Repetir contraseña">
                   </div>
                 </div>                      
                 <div class=" col-xs-6 col-sm-6 btnforminversionista">
                     <div class=" col-xs-6  col-sm-6 btniniciar">
                         <button type="submit" class="btn btn-primary col-md-12 botonregistrar">Regristro</button>
                       </div>
                       <div class="col-xs-6 col-sm-6 btncancelar">
                         <button type="submit" class="btn btn-primary col-md-12 botoninicar ">Iniciar Sesion</button>
                       </div> 
                 </div>
                
                                
         </form>
    </div>
  </div>
