<div class="sideBarLayout">
	<app-sidebar-inversionista></app-sidebar-inversionista>
	<!-- <ng-content> -->
	<div class="profileContent" id="cuentaBancaria">
			<div id="gridcontainer">
					<div class="celda"></div>
					<div id="contenedor">
						   <div  class="celda">
							   <h3 id="titulo">Cuenta Bancaria</h3>
						   </div>
						   <div id="txtcuerpo" class="celda">
							   <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit,  
								  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
								  nisi ut aliquip ex ea commodo consequat nisi ut aliquip ex ea</p>
						   </div>
						<div id="contenedorform">
							<form  class="celda">
								<div class="">
									<select class="seleccion">
										<option selected>Banco</option>
										<option value="1">opcion1</option>
										<option value="2">opcion1</option>
									</select>
								</div>
								<div class="celda">
									   <select class="seleccion">
											   <option selected>Tipo cuenta</option>
											   <option value="1">opcion1</option>
											   <option value="2">opcion1</option>
										</select>
								</div>
								<div class="celda">
									  <input class="textcuenta" placeholder="Número de cuenta"> 
								</div>
								<div  id="btn">
									   <div class="celda"></div>
									   <div class="celda">
									   <button type="button" class="btn   btn-block btnlisto" routerLink="/inversionista/inversiones">Listo</button>
									   </div>
									   <div class="celda"></div>
								   </div>
							</form>
							<div class="celda">         
							</div>   
						</div>
					   
					</div>
					<div class="celda"></div>
				   </div>
			
			
			
	</div>
	<!-- </ng-content> -->
</div>


