


<div id="gridiniciarsesion">
    <div class="celda"></div>
    <div id="contenedoriniciar">
        <div class="celda">
            <h5 id="titulo">Iniciar Sesión</h5>
        </div>
    
    <div id="contenedorformdos">
        <form class="celda">
          <div  id="forminiciar">
            <div class="celda"></div>
            <div class="celda">
             <input type="email" class="popRegular form-control" id="inputEmail" placeholder="Email">
            </div>
            <div class="celda"></div>                
          </div> 
          <div id="forminiciardos">
              <div class="celda"></div>
              <div class="celda">
               <input type="email" class="popRegular form-control" id="inputcontraseña" placeholder="Contraseña">
              </div>
              <div class="celda"></div>
          </div>
          <div id="forminiciartres">
              <div class="celda"></div>
              <div class="celda">
                  <a id="enlace" href="">Olvidé mi contraseña</a>
              </div>
              <div class="celda"></div>
          </div>
             <div id="btnform">
               <div class="celda"></div>
               <div class="celda">
                 <button type="submit" class="popRegular  botoniniciar">Iniciar sesión </button>
               </div>
               <div class="celda"></div>  
             </div> 
             <div id="btnform">
               <div class="celda"></div>
               <div class="celda"><button type="submit" class="popRegular botonregistro "> Registro </button></div>
               <div class="celda"></div>
             </div>       
        </form>
    </div>
  </div>
    <div class="celda"></div>

</div>

