<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
      [ngClass]="{oculta: !isMobile() }"
      fixedInViewport="false"
      [attr.role]="isMobile() ? 'dialog' : 'navigation'"
      [mode]="isMobile() ? 'over' : 'side'"
      [opened]="!isMobile()">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a id="listMenNav" mat-list-item routerLink="/home">Home</a>
      <a id="listMenNav" mat-list-item routerLink="/comprador">Comprador</a>
      <a id="listMenNav" mat-list-item routerLink="/inversionista">Inversionista</a>
      <a id="listMenNav" mat-list-item routerLink="/inversionista">nosotros</a>
      <a id="listMenNav" mat-list-item routerLink="/inversionista">FAQ</a>
      <a id="listMenNav" mat-list-item routerLink="/inversionista">contacto</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isMobile()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="finsu" routerLink="/home"><img id="logoF" src="../../assets/iconos/logo.png"></span>
      <span class="spacer"></span>
      <a id="listMenNav" *ngIf="!isMobile()" mat-list-item routerLink="/comprador">Comprador</a>
      <a id="listMenNav2" *ngIf="!isMobile()" mat-list-item routerLink="/inversionista">Inversionista</a>
      <a id="listMenNav2" *ngIf="!isMobile()" mat-list-item routerLink="/inversionista">nosotros</a>
      <a id="listMenNav2" *ngIf="!isMobile()" mat-list-item routerLink="/inversionista">FAQ</a>
      <a id="listMenNav2" *ngIf="!isMobile()" mat-list-item routerLink="/inversionista">contácto</a>
      <a id="btnInSes" *ngIf="!isMobile()" mat-list-item routerLink="/inversionista">Iniciar Sesión</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
