.sidenav-container {
  height: 100vh;
}

#logoF {
  height: 30px;
  width: auto;
}

#listMenNav {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

#listMenNav2 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-right: 2.12vw;
  margin-left: 2.12vw;
}

#btnInSes {
  border: 2px solid white;
  border-radius: 39.25px;
  padding: 0px 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-right: 5.85vw;
  margin-left: 2.12vw;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: #FC9A0D;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #FC9A0D;
}

.oculta {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

.finsu {
  margin-left: 15px;
}

mat-toolbar a{
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

/*
@media (min-width: 768px){
  .sidenav {
    display: none;
  }
}
 */
