<div class="container">
    <div class="volvCont"><a class="volv" href="">&#9668; Volver</a></div>
    <div class="head"><b>Plan de inversión</b></div>
    <div class="tituloPagareC"><b class="titProFin">Estudio Sarlaft</b></div>
    <div class="condiciones">        
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quiepakis nostrud exercitation ullamco laboris nsi ut aliquip ex ea comepmodo consetquat. Duis aute irure dolor in reprehenderit in voluptate velit esse cfgillum dolore eutpe fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt inpeku culpa qui officia deserunt mollit anim id est laborum.<br><br>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium poeyi doloremque laudantium, totam rem aperiam, eaque ipsa quae apsb illo inventore veritatis et quasi architecto beiatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, seprid quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqueam quaerat voluptatem.
    </div>
    <div class="linkSolicitar">
        <a class="linkSol" href=""><i>Solicitar aprobación</i></a>
    </div>
    <div class="btnVerTermCon">
        <button class="botonVerTerminos">Descargar formulario</button>
    </div>
    <div class="btnAcpTermCon">
        <button class="botonAcerptarTerminos">Cargar Formulario</button>
    </div>
</div>