<div class="sideBarLayout">
	<app-sidebar-comprador></app-sidebar-comprador>
	<!-- ng-content> -->
	<div class="profileContent" id="financiaciones">
		<div class="celda" id="cellA">
			<h2 class="tituloGrid">
				<b>Mis financiaciones</b>
			</h2>
		</div>
		<div class="celda" id="cellB">
			<!-- EJEMPLO CELDA NORMAL -->
			<div class="celda gridCell orange">
				<div class="celda gridDate">
					FEY2432KS<br>
					27/01/2019
				</div>
				<div class="celda">
					<button class="botonGrid" routerLink="/comprador/verMas">Ver mas</button>
				</div>
			</div>
			<!-- EJEMPLO CELDA APROBAR -->
			<div class="celda gridCellAprobar blue1">
				<div class="celda gridAprobar">
					Pendiente de<br>
					aprobación
				</div>
				<div class="celda gridDate">
					FEY2432KS<br>
					27/01/2019
				</div>
				<div class="celda">
					<button class="botonGrid" routerLink="/comprador/verMas">Ver mas</button>
				</div>
			</div>
			<div class="celda gridCell blue2">
				<div class="celda gridDate">
					FEY2432KS<br>
					27/01/2019
				</div>
				<div class="celda">
					<button class="botonGrid" routerLink="/comprador/verMas">Ver mas</button>
				</div>
			</div>
			<div class="celda gridCellAprobar blue1">
				<div class="celda gridAprobar">
					Pendiente de<br>
					aprobación
				</div>
				<div class="celda gridDate">
					FEY2432KS<br>
					27/01/2019
				</div>
				<div class="celda">
					<button class="botonGrid" routerLink="/comprador/verMas">Ver mas</button>
				</div>
			</div>
			<div class="celda gridCell blue2">
				<div class="celda gridDate">
					FEY2432KS<br>
					27/01/2019
				</div>
				<div class="celda">
					<button class="botonGrid" routerLink="/comprador/verMas">Ver mas</button>
				</div>
			</div>
			<div class="celda gridCellAprobar orange">
				<div class="celda gridAprobar">
					Pendiente de<br>
					aprobación
				</div>
				<div class="celda gridDate">
					FEY2432KS<br>
					27/01/2019
				</div>
				<div class="celda">
					<button class="botonGrid" routerLink="/comprador/verMas">Ver mas</button>
				</div>
			</div>
			
		</div>
		
	</div>
	<!-- /ng-content> -->
</div>
