<div class="contenedortable ">
    <div class="container">
     <div class="row ">
        <div class="col-md-12">
         <h5 class="titulotabla">Plan de pagos</h5>
        </div>
       <div class=" col-md-8 tablecontenidodos">  
          <div class="col-md-5 " id="h5texto">
          <h5 class="subtitulo">Cuota inicial</h5>
          </div>
          <div class="col-md-7" id="h5texto">
             <h5 class="subtitulo">No. De cuotas</h5>
             </div>
          <div class="col-md-5 valortable">
            <label class="valor"> $ 1.500.000</label>
          </div><br>
          <div class="col-md-4 valortable">
             <label class="valor">5</label>
           </div>
          <div class="col-md-12 tableposicion">
             <table class="table tableprimera">
                 <thead>
                   <tr>
                     <th scope="col">Mes</th>
                     <th scope="col">Intereses</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <th scope="row">Diciembre</th>
                     <td>$ 30.000 COP</td>
                   </tr>
                   <tr>
                     <th scope="row">Enero</th>
                     <td>$ 30.000 COP</td>
                   </tr>
                   <tr>
                     <th scope="row">Febrero</th>
                     <td>$ 30.000 COP</td>
                   </tr>
                   <tr>
                       <th scope="row">Marzo</th>
                       <td>$ 30.000 COP</td>
                     </tr>
                     <tr>
                         <th scope="row">Abril</th>
                         <td>$ 30.000 COP</td>
                       </tr>
                 </tbody>
               </table>        
          </div>
        </div> 
        
     </div>
   </div>
   </div>
    
      




