/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height:100%
}

body {
  margin: 0px;
}

/*TEXT STYLES*/

.popRegular {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

.centro{
	text-align: center;
} 

.popSemibold {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

.colorGray {
	color: #7B7B7B;
}

.size16 {
	font-size: 16px;
}

.size20 {
	font-size: 20px;
}

.size30 {
	font-size: 30px;
}

.size35 {
	font-size: 35px;
}

/*INPUT STYLES*/

.inputFinsu {
	border: 1px solid #CECECE;
	border-radius: 39.25px;
	color: #CECECE;	
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 35px;
	width:-webkit-fill-available;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
}

.labelFinsu{
	margin-bottom: 10px;
}

.btnFinsuBlue {
	border-radius: 39.25px;
	font-size: 16px;
    background-color:#415CE5;
    color: white;
	border-width: 0;
	padding-top: 16.07px;
    padding-bottom: 11.6px;
    width: -webkit-fill-available;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.selectIcon {
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
	right: 5%;
	color: #CECECE;
}

/*SIDE BAR STYLES*/

.sideBarLayout {
	display: grid;
	grid-template-columns: 25% 75%;
}

.profileContent {
	background-color: #F5F5F5;
	grid-column-start: 2;
	padding-bottom: 40px;
	height: 100vh;
}


.sideBarPerfil {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: max-content;
	background-color: #FFFFFF;
	height: 180vw;
	position: fixed;
	width:25%;
}

.profile {
	text-align: center;
	margin-top: 60px;
	margin-left: 30%;
	margin-right: 30%;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
}

.menuItem {
	margin-left: 13%;
	margin-right: 13%;
	font-size: 16px;
	line-height: 20px;
	font-family: 'Poppins', sans-serif;
	color: #7B7B7B;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
}

.profileName {
	margin-bottom: 29px;
	color: #3A4249;
	font-size: 20px;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
}

.profilePic {
	width: 100%;
}

.activeItem {
	background-color: black;
	color: white;
	border-radius: 39.25px;
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 6%;
	padding-top: 12px;
	padding-bottom: 12px;
}

