<div class="bannerFinanciar">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="textoBannerFinan">
					<h1 class="tituloBannerFinanciar">
						<b>Financiar</b>
					</h1>
					<h3 class="textoBannerFinanciar">
						Lorem ipsum dolor sit amet, consectetur adipisi cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
					</h3>
					<div class="col-xs-6">
						<button class="botonRegistroFinanciar">Registro</button>
					</div>
					<div class="col-xs-6">						
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<img id="mujerFinanciar" src="assets/img/m2-img-woman.png">
				</div>
			</div>
		</div>
	</div>
	<div class="pasosInvertir">
		<div class="container">
			<div class="row">			
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<img id="iconsPasosInvertir" src="../../assets/iconos/cotiza.png">
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="titulosPasosInvertir">
						Cotiza
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="textoPasosInvertir">
						Lorem ipsum dolor sit amet owlo
					</div>						
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<img id="iconsPasosInvertir" src="../../assets/iconos/registro.png">
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="titulosPasosInvertir">
						Registrate
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="textoPasosInvertir">
						Lorem ipsum dolor sit amet owlo
					</div>					
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<img id="iconsPasosInvertir" src="../../assets/iconos/acepta-terminos.png">
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="titulosPasosInvertir">
						Acepta Términos
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="textoPasosInvertir">
						Lorem ipsum dolor sit amet owlo
					</div>					
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<img id="iconsPasosInvertir" src="../../assets/iconos/comienza-financiacion.png">
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="titulosPasosInvertir">
						Comienza Financiación
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="textoPasosInvertir">
						Lorem ipsum dolor sit amet owlo
					</div>					
				</div>					
			</div>
		</div>		
	</div>
	<div class="textContinuar">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12">
					<h2 class="tituloContinuar">
						<b>Continúa con el proceso para financiar</b>
					</h2>
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 textoContinuar">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quiepakis nostrud exercitation ullamco laboris nsi ut aliquip ex ea comepmodo consetquat. Duis aute irure dolor in reprehenderit in voluptate velit esse cfgillum dolore eutpe fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt inpeku culpa qui officia deserunt mollit anim id est laborum. </p>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium poeyi doloremque laudantium, totam rem aperiam, eaque ipsa quae apsb illo inventore veritatis et quasi architecto beiatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, seprid quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqueam quaerat voluptatem.</p>
				</div>
				<div class="col-5 col-sm-5 col-md-5 col-lg-5">		
				</div>
				<div class="col-2 col-sm-2 col-md-2 col-lg-2 relative">
					<button class="btnRegistrarme">Registrarme</button>
				</div>
				<div class="col-5 col-sm-5 col-md-5 col-lg-5">

				</div>
			</div>
		</div>
	</div>
	<app-footer></app-footer>

