<div id="gridpagocuota">
        <div class="celda"></div> 
          <div id="contenedorpago">
              <div class="celda">
                  <h4 id="tituloinicial">Confirmar y pagar cuota inicial</h4>
              </div>	
              <div class="celda" id="primeraseccion">
                  <div class="celda" id="seccionpagar">
                      <div class="celda" id="tituloconfirmar">
                          <p id="titulometodo">Confirmar y pagar</p>
                          <hr class="line">
                      </div>
                      <div class="celda" id="metodo">
                          <div class="celda">
                              <input type="radio" id="radiobutton" class="radio">				
                          </div>
                          <div class="celda">
                              <label id="txtpagar">****7625</label>
                          </div>
                          <div class="celda">
                              <img id="iconmaster" src="../../../../assets/iconos/mastecard.png">
                          </div>
                      </div>
                  </div>
                  <div class="celda"></div>
                  <div class="celda">
                  <div class="celda">
                      <h6 class="celda" id="titulometododos">Cuota inicial seguro abc</h6>
                  </div>
                  <div class="celda" id="metododos">
                      <div class="celda">
                          <label id="textos">Subtotal</label>
                      </div>
                      <div class="celda">
                          <label id="textos">$ 1.440.000</label>
                      </div>			
                  </div>
                  <div class="celda" id="metodotres">
                      <div class="celda">
                          <label id="textos">Impuestos</label>
                      </div>
                      <div class="celda">
                          <label id="textos">$ 273.600</label>
                      </div>
                  </div>
                  <div class="celda" id="metodocuatro">
                      <div class="celda">
                          <label id="txtotal">Total</label>
                      </div>
                      <div class="celda">
                          <label id="txtotal">$ 1.793.600</label>
                      </div>
                  </div>
                  </div>
              </div>  
              <div class="celda" id="botones">
                  <div class="celda"></div>
                  <div class="celda">
                    <button type="submit" class="popRegular btnmetodopago">Agregar un método de pago </button>
                  </div>
                  <div class="celda">
                          <button type="submit" class="popRegular btnpagar">Pagar</button>
                  </div>
                  <div class="celda"></div>
              </div> 
          </div> 
          
      
        <div class="celda"></div>
      
      </div>
      
      